:root {
  --primary-fg: #0a0409;
  --primary: #fc4b89;
  --primary-light-fg: #0b050a;
  --primary-light: #ff6aa3;
  --primary-dark-fg: #dd2770;
  --primary-dark: #b9a;
  --secondary: #622e70;
  --secondary-dark: #491657;
  --secondary-light: #7c468a;
  --secondary-fg: #0a0409;
  --tertiary: #def;
  --font-family: 'IBM Plex Sans Condensed', sans-serif;
  --font-size: 14pt;
  --font-size: 1.5vw;
}
* {
  box-sizing: border-box;
  touch-action: manipulation; /* Stops double tap to zoom in iOS 11.3 */
}
html {
  width: 100%;
  height: 100%;
  color: var(--primary-fg);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
}

.splash {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  background: black;
  color: var(--primary);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.splash img {
  width: 75vmin;
  height: 75vmin;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  flex: 1;
  background-color: rgba(0,0,0,0.7);
  box-shadow: 2px 2px 16px black;
  color: var(--primary);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 4vmin;
}
.login img {
  width: 30vmin;
  height: 30vmin;
}
.login form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.login form div {
  display: flex;
  padding: .5em;
}
.login label {
  width: 5em;
  text-align: right;
  padding-right: 0.5em;
}
.login input {
  flex: 1;
  font-size: 100%;
  padding: .5em;
}
.login button {
  background: none;
  border: 0;
}

section.content {
  display: flex;
  flex: 1;
  min-height: 0;
}

section.container {
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(var(--primary), var(--secondary));
  transition: opacity 1s;
  flex-direction: column;
}

nav.navbar, nav.titlebar {
  box-shadow: 0px 0px 8px black;
  background: rgba(0, 0, 0, .8);
  display: flex;
}

.navbar-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  padding: .25em;
}

.navbar-item.volume input {
  position: absolute;
  top: 100%; left: 50%;
  margin-left: -50%;
  width: 100%;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  z-index: 9999;
}

section.left {
  width: 30%;
  display: flex;
  padding: 1em 0 1em 1em;
}
section.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1em 0;
  overflow: auto;
}

/* Browser */
section.browser {
  background-color: rgba(0,0,0,0.7);
  box-shadow: 2px 2px 16px black;
  color: var(--primary);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto minmax(0, 1fr);
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  height: 100%;
  padding: .5em;
}
nav.browser-items {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.browser-item {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 2px;
}
.browser-item:hover {
  transform: translateY(-1px);
}
.browser-item-name {
  overflow: hidden;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 .75em;
}
.browser-item-add {
}
.directory, .file {
}
.directory {
}
.file {
  font-weight: light;
}
.selected {
  color: var(--secondary);
}

.micon {
  font-size: 150%;
  color: var(--secondary-light);
}

/* Controller */
section.controller {
  margin: 0 1em;
  color: var(--primary);
  background-color: rgba(0,0,0,0.7);
  box-shadow: 2px 2px 16px black;
}
section.controller-controls {
}
section.controller-playbar {
  flex: 1;
}

section.audio-info {
  display: flex;
  align-items: stretch;
  position: relative;
  /*overflow: hidden;*/
  z-index: 1;
}

img.audio-info-background {
  position: absolute;
  margin-top: -25%;
  top: 0;
  left: 0;
  width: 100%;
  filter: blur(3px);
  opacity: 0.25;
  z-index: -100;
}

.audio-info-controls {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  opacity: 0.0;
  transition: opacity .2s;
}
.audio-info-controls:hover {
  opacity: 1.0;
}
.audio-info-controls .micon {
  display: flex;
  text-shadow: -.01em -.01em 0 #111, .01em -.01em 0 #111, -.01em .01em 0 #111, .01em .01em 0 #111;  
  text-align: center;
  font-size: 3vw;
}
.audio-info-controls .rewind {
  flex: 1;
}
.audio-info-controls .play, .audio-info-controls .pause {
  font-size: 6vw;
}
.audio-info-controls .forward {
  flex: 1;
}

section.audio-info-art {
  position: relative;
  width: 15vw;
  height: 15vw;
  display: flex;
  align-items: center;
  background: black;
}

section.audio-info-art:hover .audio-info-progress {
  height: 1.5vh;
}

.audio-info-image {
  max-width: 100%;
  flex: 1;
}
.audio-info-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.audio-info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5em;
  text-shadow: 0 0 8px var(--secondary-light);
}
.audio-info-title {
  font-size: 125%;
}
.audio-info-album {
  display: inline-block;
}
.audio-info-year {
  display: inline-block;
  margin: 0 .5em;
}
.audio-info-progress {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  min-height: 2px;
  height: 0.5vh;
  transition: height .2s;
}
.audio-info-progress:hover {
  cursor: none;
}
progress {
  background-color: rgba(124, 70, 138, 0.25);
  border: 0;
}
progress::-webkit-progress-bar {
  background-color: rgba(124, 70, 138, 0.25);
}
progress::-webkit-progress-value {
  background-color: rgba(255, 255, 255, 0.5);
}
progress::-moz-progress-bar { /* progress meter/value */
  background-color: rgba(255, 255, 255, 0.5);
}

.audio-info-timestamp {
  position: absolute;
  bottom: 2vh;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0px 0px 2px black;
  font-size: 60%;
  transform: translateX(-50%);
  z-index: 9999;
  pointer-events: none;
}

.audio-info-timestamp-indicator {
  position: absolute;
  bottom: 0;
  height: 1.5vh;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 9999;
  pointer-events: none;
}

/* Playlist */
section.playlist {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1em 1em 0 1em;
  background-color: rgba(0,0,0,0.7);
  box-shadow: 2px 2px 16px black;
  overflow: auto;
}

.playlist-items {
  flex: 1;
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.playlist-row {
  color: var(--primary);
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: nowrap;
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
}
.playlist-row.selected {
  color: var(--secondary);
}

.playlist-row-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-collapse: collapse;
  overflow-y: scroll;
  color: var(--secondary-light);
  font-weight: bold;
  scrollbar-color: transparent transparent;
}
.playlist-row-header::-webkit-scrollbar {
  visibility: hidden;
}
.playlist-cell {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-basis: 1em;
  padding: .25em;
}

.playlist-row.loading .playlist-cell.title {
  pointer-events: none;
  opacity: 0.25;
}

.playlist-row.playing .playlist-cell.track, .playlist-row.playing .playlist-cell.title, .playlist-row.playing .playlist-cell.album, .playlist-row.playing .playlist-cell.artist {
  font-weight: bold;
}

.playlist-cell.status {
  flex-basis: 1.75em;
  flex-grow: 0;
}
.playlist-cell.track {
  flex-basis: 3em;
  flex-grow: 0;
  text-align: center;
}
.playlist-cell.title {
  flex-grow: 2;
}
.playlist-cell.checkbox {
  flex-basis: 2em;
  flex-grow: 0;
}

audio.player {
  background-color: var(--primary);
  flex: 1;
}
audio::-webkit-media-controls-panel {
  background-color: var(--primary);
}

/* */
.fadeout {
  transition: opacity .5s;
  opacity: 0.0;
}
.fadein {
  transition: opacity .5s;
  opacity: 1.0;
}

/* Crummy tablets and mobiles in landscape */
@media screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  :root {
    --font-size: 4vw;
  }
  section.right, section.controller, section.playlist {
    margin: 0;
    padding: 0;
  }
  section.audio-info-art {
    width: 25vh;
    height: 25vh;
  }
  .audio-info-controls .micon {
    font-size: 5vh;
  }
  .audio-info-controls .play, .audio-info-controls .pause {
    font-size: 10vh;
  }

}

/* Most mobiles */
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  :root {
    --font-size: 4vw;
  }
  section.right, section.controller, section.playlist {
    margin: 0;
    padding: 0;
  }

  section.audio-info-art {
    width: 25vh;
    height: 25vh;
  }
  .audio-info-controls .micon {
    font-size: 5vh;
  }
  .audio-info-controls .play, .audio-info-controls .pause {
    font-size: 10vh;
  }
}
