:root {
  --primary-fg: #0a0409;
  --primary: #dbc;
  --primary-light-fg: #0b050a;
  --primary-light: #ecd;
  --primary-dark-fg: #090308;
  --primary-dark: #b9a;
  --secondary: #fde;
  --secondary-fg: #0a0409;
  --tertiary: #def;
  --font-family: 'IBM Plex Sans Condensed', sans-serif;
  --font-size: 14pt;
  --font-size: 1.5vw;
}
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  background-color: var(--primary-fg);
  color: var(--primary-fg);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

section.container {
  width: 100%;
  height: 100%;
  display: flex;
}

section.left {
  width: 30%;
  display: flex;
  padding: .5em 0 .5em .5em;
}
section.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: .5em 0;
}

/* Browser */
section.browser {
  display: flex;
  background-color: var(--primary);
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  padding: .5em;
}
nav.browser-items {
  height: 100%;
  overflow: auto;
}
.browser-item {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 0px var(--primary-fg);
  padding: 4px 2px;
  transition: transform .1s, box-shadow .1s;
}
.browser-item:hover {
  transform: translateY(-1px);
  box-shadow: 0px 2px 0px var(--primary-fg);
}
.browser-item-name {
  overflow: hidden;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 .75em;
}
.browser-item-add {
}
.directory, .file {
  flex: 1;
}
.directory {
}
.file {
  font-weight: light;
}
.selected {
  background-color: var(--primary-dark);
  color: var(--primary-dark-fg);
  animation: 3s ease 0s infinite alternate selection-glow;
}

svg {
  width: 16px;
  height: 16px;
}
use, path, ellipse {
  stroke: black;
  stroke-width: 3px;
  fill: none;
}

/* Controller */
section.controller {
  flex: 1;
  max-height: 200px;
  display: flex;
  margin: 0 .5em;
  background: var(--primary);
}
section.controller-controls {
}
section.controller-playbar {
  flex: 1;
}

section.audio-info {
  display: flex;
}

.audio-info-image {
  height: 100%;
  flex: 1;
}
.audio-info-text {
  padding: .5em;
}
.audio-info-title {
  font-size: 125%;
}
progress {
  background-color: var(--primary-dark);
  border: 0;
}
progress::-webkit-progress-bar {
  background-color: var(--primary-dark);
}
progress::-webkit-progress-value {
  background-color: var(--tertiary);
}
progress::-moz-progress-bar { /* progress meter/value */
  background-color: var(--tertiary);
}

/* Playlist */
section.playlist {
  flex: 1;
  margin: .5em .5em 0 .5em;
  overflow: auto;
}

table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  border-spacing: 0;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .25em;
}

tr {
  background-color: var(--primary);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

tr:nth-child(even) {
  color: var(--primary-light-fg);
  background-color: var(--primary-light);
}

tr.loading {
  pointer-events: none;
  opacity: 0.25;
}
tr.playing {
  font-weight: bold;
  box-shadow: inset 0px 0px 2px var(--primary-fg);
}
tr:nth-child(event).playing {
  box-shadow: inset 0px 0px 2px var(--primary);
}

th.track {
  width: 10%;
}
th.title {
  width: 40%;
}
th.artist {
  width: 20%;
}
th.album {
  width: 30%;
}

audio.player {
  background-color: var(--primary);
  flex: 1;
}
audio::-webkit-media-controls-panel {
  background-color: var(--primary);
}

/* All Buttons */
button {
  border: 0;
  background-color: var(--secondary);
  padding: .25em;
  margin: .25em;
}
button.browse-home {
}
button.browse-back {
}
button.browse-forward {
}
button.previous {
}
button.next {
}
button.rewind {
}
button.forward {
}
button.stop {
}
button.pause {
}
button.play {
}

/* animations */
@keyframes selection-glow {
  from { 
    border: 1px solid var(--tertiary);
    box-shadow: inset 0px 0px 0px var(--tertiary);
  }
  to { 
    border: 1px solid var(--tertiary);
    box-shadow: inset 0px 0px 6px var(--tertiary);
  }
}
